@using EventsManagerModels;

@model List<Menu>
@{
    ViewBag.Title = "Menu Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Menu.css" />
<link rel="stylesheet" href="~/css/Admin.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Register.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container">
    <div class="content">
        <main class="data">
            <div class="Menuwraper">
                <div class="foodWraper">
                    <button id="NewMenuButton">New Menu</button>
                    <table id="MenusTable" class="rounded-table">
                        <thead class="OrdersTableHead">
                            <tr>
                                <th>MenuId</th>
                                <th>Menu Name</th>
                                <th>Menu Description</th>
                                <th>Hall</th>
                                <th>Menu Image</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="Menus" class="OrdersTableBody">
                            @if (Model.Count > 0)
                            {
                                foreach (Menu menu in Model)
                                {
                                    <tr>
                                        <td><h2 class="foodTitle">@menu.MenuId</h2></td>
                                        <td><h4 class="foodTitle">@menu.MenuName</h4></td>
                                        <td><h4 class="foodTitle">@menu.MenuDesc</h4></td>
                                        <td><h4 class="foodTitle">@menu.ChosenHall.HallName</h4></td>
                                        <td><img class="foodImage" src="~/img/Menu/@(menu.MenuImage)" alt="@menu.MenuName"></td>
                                        <td>
                                            <div class="icons">
                                                <span class="material-symbols-outlined icons updateMenuButton" data-menuid="@menu.MenuId">
                                                    edit
                                                </span>
                                                <span class="material-symbols-outlined icons">
                                                    delete
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="errorTitle" colspan="6"> Error 404, Please try later</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="menuModal" class="popup">
                        <div class="popup-content">
                            <span class="close">&times;</span>
                            <div class="wrapper base">
                                @using (Html.BeginForm("Menus", "Admin", FormMethod.Post, new { onsubmit = "return validateRegister()" }))
                                {
                                    <input type="hidden" id="MenuId" name="MenuId" />
                                    <input type="hidden" id="FormAction" name="FormAction" value="Register" />
                                    <ul>
                                        <li class="item">
                                            <label class="label">Menu Name</label><br>
                                            <input class="text" required type="text" id="MenuName" name="MenuName" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Menu Description</label><br>
                                            <input class="text" required type="text" id="MenuDesc" name="MenuDesc" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Hall Id</label><br>
                                            <input class="text" required type="number" id="HallId" name="HallId" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Menu Image</label><br>
                                            <input class="text" required type="text" id="MenuImage" name="MenuImage" />
                                        </li>
                                        <li class="item cButton">
                                            <button id="menuButton" class="button" type="submit" value="Register">Register</button>
                                        </li>
                                    </ul>
                                    @Html.AntiForgeryToken();
                                }
                                <p id="ResultLogin" />
                            </div>
                        </div>
                    </div>

                    <script>
                        var menuModal = document.getElementById("menuModal");
                        var newMenuBtn = document.getElementById("NewMenuButton");
                        var closeSpan = document.getElementsByClassName("close")[0];

                        newMenuBtn.onclick = function () {
                            openModalForRegister();
                        }

                        closeSpan.onclick = function () {
                            menuModal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == menuModal) {
                                menuModal.style.display = "none";
                            }
                        }

                        function openModalWithMenuData(menuData) {
                            document.getElementById("MenuId").value = menuData.id;
                            document.getElementById("MenuName").value = menuData.menuName;
                            document.getElementById("MenuDesc").value = menuData.menuDesc;
                            document.getElementById("HallId").value = menuData.hallId;
                            document.getElementById("MenuImage").value = menuData.menuImage;
                            document.getElementById("FormAction").value = "Update";
                            document.getElementById("menuButton").textContent = "Update";

                            menuModal.style.display = "block";
                        }

                        document.querySelectorAll(".updateMenuButton").forEach(function (button) {
                            button.onclick = function () {
                                var row = this.closest('tr');
                                var cells = row.getElementsByTagName('td');

                                var menuData = {
                                    id: this.getAttribute('data-menuid'),
                                    menuName: cells[1].textContent,
                                    menuDesc: cells[2].textContent,
                                    hallId: cells[3].textContent,
                                    menuImage: cells[4].querySelector('img').getAttribute('src').split('/').pop()
                                };

                                openModalWithMenuData(menuData);
                            };
                        });

                        function openModalForRegister() {
                            document.getElementById("MenuId").value = "";
                            document.getElementById("MenuName").value = "";
                            document.getElementById("MenuDesc").value = "";
                            document.getElementById("HallId").value = "";
                            document.getElementById("MenuImage").value = "";
                            document.getElementById("FormAction").value = "Register";
                            document.getElementById("menuButton").textContent = "Register";

                            menuModal.style.display = "block";
                        }

                        closeSpan.onclick = function () {
                            menuModal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == menuModal) {
                                menuModal.style.display = "none";
                            }
                        }
                    </script>
                </div>
            </div>
        </main>
    </div>
</div>
