@using EventsManagerModels;

@model List<User>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Menu.css" />
<link rel="stylesheet" href="~/css/Admin.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Register.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container">
    <div class="content">
        <main class="data">
            <div class="Menuwraper">
                <div class="foodWraper">
                    <button id="NewUserButton">NewUser</button>
                    <table id="OrdersTable" class="rounded-table">
                        <thead class="OrdersTableHead">
                            <tr>
                                <th>UserId</th>
                                <th>תמונה</th>
                                <th class="">רמת הרשאה</th>
                                <th>שם פרטי</th>
                                <th class="">שם משפחה</th>
                                <th class="">שם משתמש</th>
                                <th class="">מספר טלפון</th>
                                <th class="">מגורים</th>
                                <th class="">Email</th>
                                <th class="">תאריך יצירה</th>
                                <th class="">עריכה</th>
                            </tr>
                        </thead>
                        <tbody id="Users" class="OrdersTableBody">
                            @if (Model.Count > 0)
                            {
                                foreach (User user in Model)
                                {
                                    <tr>
                                        <td><h2 class="foodTitle">@user.UserId</h2></td>
                                        <td><img class="foodImage" src="~/img/User/@(user.UserName+ "" +".png")"></td>
                                        <td><h4 class="foodTitle">@user.UserType.UserTypeName</h4></td>
                                        <td><h4 class="foodTitle">@user.FirstName</h4></td>
                                        <td><h4 class="foodTitle">@user.LastName</h4></td>
                                        <td><h4 class="foodTitle">@user.UserName</h4></td>
                                        <td><h4 class="foodTitle">@user.PhoneNum</h4></td>
                                        <td><h4 class="foodTitle">@user.Address</h4></td>
                                        <td><h4 class="foodTitle">@user.Email</h4></td>
                                        <td><h4 class="foodTitle">@DateTimeOffset.FromUnixTimeSeconds(long.Parse(user.CreationDate)).ToLocalTime()</h4></td>
                                        <td>
                                            <div class="icons">
                                                <span class="material-symbols-outlined icons updateUserButton">
                                                    edit
                                                </span>
                                                <span class="material-symbols-outlined icons">
                                                    delete
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="errorTitle"> Error 404, Please try later</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="myModal" class="popup">
                        <div class="popup-content">
                            <span class="close">&times;</span>
                            <div class="wraper base">
                                @using (Html.BeginForm("Users", "Admin", FormMethod.Post, new { onsubmit = "return validateRegister()" }))
                                {
                                    <input type="hidden" id="UserId" name="UserId" />
                                    <input type="hidden" id="FormAction" name="FormAction" value="Register" />
                                    <ul>
                                        <li class="item cName">
                                            <div class="halfName firstName">
                                                <label class="lable">First Name</label><br>
                                                <input class="text name" required autocomplete="given-name" type="text" id="FirstName" name="FirstName" />
                                            </div>
                                            <div class="halfName">
                                                <label class="lable">Last Name</label><br>
                                                <input class="text name" required autocomplete="family-name" type="text" id="LastName" name="LastName" />
                                            </div>
                                        </li>
                                        <li class="item">
                                            <label class="lable">Username</label><br>
                                            <input class="text" required autocomplete="username" type="text" id="UserName" name="UserName" />
                                            <h5 id="UserName-Check">**Username is missing</h5>
                                        </li>
                                        <li class="item">
                                            <label class="lable">Address</label><br>
                                            <input class="text" required type="text" id="Address" name="Address" />
                                        </li>
                                        <li class="item">
                                            <label class="lable">Email</label><br>
                                            <input class="text" required autocomplete="email" type="text" id="Email" name="Email" />
                                            <h5 id="Email-Check">**Your email must be a valid email</h5>
                                        </li>
                                        <li class="item">
                                            <label class="lable">Phone Number</label><br>
                                            <input class="text" required autocomplete="tel-national" type="text" id="PhoneNum" name="PhoneNum" />
                                            <h5 id="PhoneNum-Check">**Phone Number is invalid</h5>
                                        </li>
                                        <li class="item">
                                            <label class="lable">Password</label><br>
                                            <input class="text" required autocomplete="new-password" type="password" id="Password" name="TempPassword" />
                                            <h5 id="Password-Check">**Please Fill the password</h5>
                                        </li>
                                        <li class="item">
                                            <label class="lable">Confirm password</label><br>
                                            <input class="text" required type="password" id="PasswordConfirm" />
                                            <h5 id="PasswordConfirm-Check">**Passwords didn't match</h5>
                                        </li>
                                        <li class="item cButton">
                                            <button id="cButton" class="button" type="submit" value="Register">Register</button>
                                        </li>
                                    </ul>
                                    @Html.AntiForgeryToken();
                                }
                                <p id="ResultLogin" />
                            </div>
                        </div>
                    </div>

                    <script>
                        var modal = document.getElementById("myModal");
                        var btn = document.getElementById("NewUserButton");
                        var span = document.getElementsByClassName("close")[0];

                        btn.onclick = function () {
                            modal.style.display = "block";
                        }

                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }

                        // Function to open the modal with pre-filled user data
                        function openModalWithUserData(userData) {
                            document.getElementById("FirstName").value = userData.firstName;
                            document.getElementById("LastName").value = userData.lastName;
                            document.getElementById("UserName").value = userData.username;
                            document.getElementById("Address").value = userData.address;
                            document.getElementById("Email").value = userData.email;
                            document.getElementById("PhoneNum").value = userData.phoneNumber;
                            document.getElementById("UserId").value = userData.id;
                            document.getElementById("FormAction").value = "Update";
                            document.getElementById("cButton").textContent = "Update";

                            modal.style.display = "block";
                        }

                        // Event listener for update buttons
                        document.querySelectorAll(".updateUserButton").forEach(function (button) {
                            button.onclick = function () {
                                var row = this.closest('tr');
                                var cells = row.getElementsByTagName('td');

                                var userData = {
                                    firstName: cells[3].textContent,
                                    lastName: cells[4].textContent,
                                    username: cells[5].textContent,
                                    address: cells[7].textContent,
                                    email: cells[8].textContent,
                                    phoneNumber: cells[6].textContent,
                                    id: this.getAttribute('data-userid')
                                };

                                openModalWithUserData(userData);
                            };
                        });

                        // Function to open the modal for registering a new user
                        function openModalForRegister() {
                            document.getElementById("FirstName").value = "";
                            document.getElementById("LastName").value = "";
                            document.getElementById("UserName").value = "";
                            document.getElementById("Email").value = "";
                            document.getElementById("PhoneNum").value = "";
                            document.getElementById("Address").value = "";
                            document.getElementById("Password").value = "";
                            document.getElementById("PasswordConfirm").value = "";
                            document.getElementById("UserId").value = "";
                            document.getElementById("FormAction").value = "Register";
                            document.getElementById("cButton").textContent = "Register";

                            modal.style.display = "block";
                        }

                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
                </div>
            </div>
        </main>
    </div>
</div>
