@using EventsManagerModels;

@model List<Order>
@{
    ViewBag.Title = "Order Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Styles/Menu.css" />
<link rel="stylesheet" href="~/Content/Styles/Admin.css" />
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Content/Scripts/Register.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container">
    <div class="content">
        <main class="data">
            <div class="Menuwraper">
                <div class="foodWraper">
                    <button id="NewOrderButton">New Order</button>
                    <table id="OrdersTable" class="rounded-table">
                        <thead class="OrdersTableHead">
                            <tr>
                                <th>OrderId</th>
                                <th>Order Date</th>
                                <th>MenuId</th>
                                <th>UserId</th>
                                <th>HallId</th>
                                <th>Is Paid</th>
                                <th>Num Of People</th>
                                <th>Event Date</th>
                                <th>EventTypeId</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="Orders" class="OrdersTableBody">
                            @if (Model.Count > 0)
                            {
                                foreach (Order order in Model)
                                {
                                    <tr>
                                        <td><h2 class="foodTitle">@order.OrderId</h2></td>
                                        <td><h4 class="foodTitle">@DateTimeOffset.FromUnixTimeSeconds(long.Parse(order.OrderDate)).ToLocalTime()</h4></td>
                                        <td><h4 class="foodTitle">@order.ChosenMenu.MenuName</h4></td>
                                        <td><h4 class="foodTitle">@order.ChosenUser.UserName</h4></td>
                                        <td><h4 class="foodTitle">@order.ChosenHall.HallName</h4></td>
                                        <td><h4 class="foodTitle">@order.IsPaid</h4></td>
                                        <td><h4 class="foodTitle">@order.NumOfPeople</h4></td>
                                        <td><h4 class="foodTitle">@order.EventDate</h4></td>
                                        <td><h4 class="foodTitle">@order.EventType.EventTypeName</h4></td>
                                        <td>
                                            <div class="icons">
                                                <span class="material-symbols-outlined icons updateOrderButton" data-orderid="@order.OrderId">
                                                    edit
                                                </span>
                                                <span class="material-symbols-outlined icons">
                                                    delete
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="errorTitle" colspan="10"> Error 404, Please try later</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="orderModal" class="popup">
                        <div class="popup-content">
                            <span class="close">&times;</span>
                            <div class="wrapper base">
                                @using (Html.BeginForm("Orders", "Admin", FormMethod.Post, new { onsubmit = "return validateRegister()" }))
                                {
                                    <input type="hidden" id="OrderId" name="OrderId" />
                                    <input type="hidden" id="FormAction" name="FormAction" value="Register" />
                                    <ul>
                                        <li class="item">
                                            <label class="label">Order Date</label><br>
                                            <input class="text" required type="text" id="OrderDate" name="OrderDate" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Menu Id</label><br>
                                            <input class="text" required type="number" id="MenuId" name="MenuId" />
                                        </li>
                                        <li class="item">
                                            <label class="label">User Id</label><br>
                                            <input class="text" required type="number" id="UserId" name="UserId" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Hall Id</label><br>
                                            <input class="text" required type="number" id="HallId" name="HallId" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Is Paid</label><br>
                                            <input class="text" required type="text" id="IsPaid" name="IsPaid" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Number of People</label><br>
                                            <input class="text" required type="number" id="NumOfPeople" name="NumOfPeople" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Event Date</label><br>
                                            <input class="text" required type="text" id="EventDate" name="EventDate" />
                                        </li>
                                        <li class="item">
                                            <label class="label">Event Type Id</label><br>
                                            <input class="text" required type="number" id="EventTypeId" name="EventTypeId" />
                                        </li>
                                        <li class="item cButton">
                                            <button id="orderButton" class="button" type="submit" value="Register">Register</button>
                                        </li>
                                    </ul>
                                    @Html.AntiForgeryToken();
                                }
                                <p id="ResultLogin" />
                            </div>
                        </div>
                    </div>

                    <script>
                        var orderModal = document.getElementById("orderModal");
                        var newOrderBtn = document.getElementById("NewOrderButton");
                        var closeSpan = document.getElementsByClassName("close")[0];

                        newOrderBtn.onclick = function () {
                            openModalForRegister();
                        }

                        closeSpan.onclick = function () {
                            orderModal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == orderModal) {
                                orderModal.style.display = "none";
                            }
                        }

                        function openModalWithOrderData(orderData) {
                            document.getElementById("OrderId").value = orderData.id;
                            document.getElementById("OrderDate").value = orderData.orderDate;
                            document.getElementById("MenuId").value = orderData.menuId;
                            document.getElementById("UserId").value = orderData.userId;
                            document.getElementById("HallId").value = orderData.hallId;
                            document.getElementById("IsPaid").value = orderData.isPaid;
                            document.getElementById("NumOfPeople").value = orderData.numOfPeople;
                            document.getElementById("EventDate").value = orderData.eventDate;
                            document.getElementById("EventTypeId").value = orderData.eventTypeId;
                            document.getElementById("FormAction").value = "Update";
                            document.getElementById("orderButton").textContent = "Update";

                            orderModal.style.display = "block";
                        }

                        document.querySelectorAll(".updateOrderButton").forEach(function (button) {
                            button.onclick = function () {
                                var row = this.closest('tr');
                                var cells = row.getElementsByTagName('td');

                                var orderData = {
                                    id: this.getAttribute('data-orderid'),
                                    orderDate: cells[1].textContent,
                                    menuId: cells[2].textContent,
                                    userId: cells[3].textContent,
                                    hallId: cells[4].textContent,
                                    isPaid: cells[5].textContent,
                                    numOfPeople: cells[6].textContent,
                                    eventDate: cells[7].textContent,
                                    eventTypeId: cells[8].textContent
                                };

                                openModalWithOrderData(orderData);
                            };
                        });

                        function openModalForRegister() {
                            document.getElementById("OrderId").value = "";
                            document.getElementById("OrderDate").value = "";
                            document.getElementById("MenuId").value = "";
                            document.getElementById("UserId").value = "";
                            document.getElementById("HallId").value = "";
                            document.getElementById("IsPaid").value = "";
                            document.getElementById("NumOfPeople").value = "";
                            document.getElementById("EventDate").value = "";
                            document.getElementById("EventTypeId").value = "";
                            document.getElementById("FormAction").value = "Register";
                            document.getElementById("orderButton").textContent = "Register";

                            orderModal.style.display = "block";
                        }

                        closeSpan.onclick = function () {
                            orderModal.style.display = "none";
                        }

                        window.onclick = function (event) {
                            if (event.target == orderModal) {
                                orderModal.style.display = "none";
                            }
                        }
                    </script>
                </div>
            </div>
        </main>
    </div>
</div>
